{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{%  static 'css/basic_system/agreement.css' %}">
</head>
<body>
    <div class="header_div">
        <div class="header_writings">
            Система электронного документооборота ООО "Курсовая"
        </div>
    </div>
    <div class="explanation">
        <p>Вход выполнен успешно. Теперь необходимо ознакомиться с Соглашением. Вы не можете стать участником ЭДО, если вы не принимаете условия Соглашения.</p>
    </div>
    <embed src="{% static 'documents/Agreement.pdf' %}" height="500">
    <div id="agreement_controls">
        <label for="agreed">Я принимаю условия Соглашения.</label>
        <input type="checkbox" id="agreed">
        <br>
        {% csrf_token %}
        <button id="next_button" class="next_button" onclick="Agreed()">Далее</button>
    </div>
    <div class='footer_div'>
        <div class="footer_writings">
            По всем вопросам звонить по телефону 258-44-99
        </div>
    </div>
    <script src="{% static 'js/common/index.js' %}"></script>
    <script src="{% static 'js/basic_system/agreement.js' %}"></script>
</body>
</html>
