{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{%  static 'css/basic_system/login.css' %}">
</head>
<body>
    <div class="header_div">
        <div class="header_writings">
            Система электронного документооборота ООО "Курсовая"
        </div>
    </div>
    <div class="greeting">
        Здравствуйте ! Добро пожаловать в систему электронного документооборота ООО "Курсовая"
    </div>
    <div class="explanation">
        Введите ваш логин и пароль. Если Вы впервые в системе, то введите данные, предоставленные администратором.
    </div>
    {% if error %}
    <p class="error">Данные не верны. Проверьте правильность вводОбратитесь к администратору.</p>
    {% endif %}
    <div class="form_div">
        <p>Вход</p>
        <form method="post">
            {{ form }}
            {% csrf_token %}
            <button>Войти</button>
        </form>
    </div>
    <div class='footer_div'>
        <div class="footer_writings">
            По всем вопросам звонить по телефону 258-44-99
        </div>
    </div>
</body>
</html>