{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{% static 'js/common/index.js' %}"></script>
    <script src="{% static 'js/basic_system/logout.js' %}"></script>
</head>
<body>
    <button onclick="logout()">Выйти</button>
</body>
</html>