{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{%  static 'css/basic_system/new_password.css' %}">
</head>
<body>
    <div class="header_div">
        <div class="header_writings">
            Система электронного документооборота ООО "Курсовая"
        </div>
    </div>
    <div class="greeting">
        Здравствуйте ! Добро пожаловать в систему электронного документооборота ООО "Курсовая"
    </div>
    <div class="explanation">
        Вам необходимо придумать новый пароль. Пожалуйста, придумайте надежный пароль, состоящий не менее чем из 8 символов,
        среди которых есть строчные и заглавные элементы, а также цифры. Не используйте ранее используемые где-либо пароли!
    </div>
    <div class="form_div">
        <p>Вход</p>
        <form method="post">
            {{ form }}
            {% csrf_token %}
            <button>Войти</button>
        </form>
    </div>
    {% if errors %}
    {% for err in errors %}
        <p class="error">{{ err }}</p>
    {% endfor %}
    {% endif %}
    <div class='footer_div'>
        <div class="footer_writings">
            По всем вопросам звонить по телефону 258-44-99
        </div>
    </div>
</body>
</html>