body {
    font-family: 'Roboto', sans-serif;
    background-color: #F6EFDD;
    margin: 0;
}

.header_div {
    height: 112px;
    background: rgba(224, 216, 193, 0.68);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
}

.header_writings {
    z-index: -1;
    text-align: center;
}

.footer_div {
    height: 112px;
    background: linear-gradient(0deg, rgba(224, 216, 193, 0.68), rgba(224, 216, 193, 0.68));
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer_writings {
    z-index: -1;
}

.explanation {
    font-size: 24px;
    line-height: 28px;
    margin-left: 24%;
    margin-right: 24%;
    text-align: center;
}

.next_button {
    margin-top: 2%;
    border: none;
    background: #D7C597;
    text-align: center;
    display: inline-block;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    margin-left: 43%;
}

embed {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}

#agreed {
    /* ToDo create custom checkbox*/
}

label {
    font-size: 24px;
    margin-left: 23%;
}

#agreement_controls {
    margin-right: 25%;
    margin-left: 25%;
    width: 50%;
    justify-content: center;
}