body {
    font-family: 'Roboto', sans-serif;
    background-color: #F6EFDD;
    margin: 0;
}

.header_div {
    height: 112px;
    background: rgba(224, 216, 193, 0.68);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
}

.greeting {
    margin: 4.5% 19%;
    text-align: center;
    font-size: 36px;
    line-height: 42px;
}

.header_writings {
    z-index: -1;
    text-align: center;
}

.explanation {
    font-size: 24px;
    line-height: 28px;
    margin-left: 24%;
    margin-right: 24%;
    text-align: center;
}

.form_div {
    margin-top: 3%;
    margin-right: 25%;
    margin-left: 25%;
    background: rgba(198, 190, 223, 0.34);
    border: 10px solid #737434;
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: inline-block;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    min-width: 50%;
}

.form_div > p {
    margin: 5% 0 0;
    text-align: center;
    font-size: 24px;
    line-height: 28px;
}

form {
    display: inline-block;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 100%;
}

form > button {
    margin-top: 8%;
    margin-left: 32%;
    margin-bottom: 5%;
    background: rgba(115, 116, 52, 0.6);
    border: none;
    padding: 10px 92px;
    text-align: center;
    display: inline-block;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
}

form > label {
    font-size: 32px;
    line-height: 37px;
    margin-left: 5%;
}

form > input[type=text], form > input[type=password] {
    background: rgba(196, 196, 196, 0.4);
    border: none;
    font-size: 32px;
    line-height: 37px;
    margin-top: 3%;
    margin-right: 8%;
}

.footer_div {
    height: 112px;
    background: linear-gradient(0deg, rgba(224, 216, 193, 0.68), rgba(224, 216, 193, 0.68));
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer_writings {
    z-index: -1;
}

.error {
    color: red;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}