{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{% static 'js/common/index.js' %}"></script>
    <script src="{% static 'js/cert_center/revoke_certificate.js' %}"></script>
</head>
<body>
    {% if cert %}
        <p>Уникальный номер: {{ cert.serial }}</p>
        <p>ФИО: {{ user.last_name }} {{ user.first_name }} {{ user.edcuser.middle_name }}</p>
        <p>Дата начала действия: {{ cert.starting_date }}</p>
        <p>Дата окончания срока: {{ cert.ending_date }}</p>
        <p>Открытый ключ:</p>
        <p>Наименование УЦ: Корпоративный Удостоверяющий Центр</p>
        {% if cert.status != 'Действует' %}
            <p>Статус: {{ cert.status }}</p>
            <p>Причина: {% if cert.explanation %} {{ cert.explanation }} {% endif %}</p>
        {% endif %}

        {% if cert.status == 'Действует' %}
            <button onclick="revokeCertificate({{ cert.id }})">Прекратить действие сертификата</button>
        {% endif %}
    {% else %}
        <p>Нет действуещего сертификата!</p>
    {% endif %}
</body>
</html>