{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{% static 'js/common/index.js' %}"></script>
    <script src="{% static 'js/cert_center/create_cert.js' %}"></script>
</head>
<body>
    <h3>Создать сертификат!</h3>
    <button onclick="createCertificate()">Создать сертификат</button>
</body>
</html>