{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <button onclick="get_current_cert()">Посмотреть действующий сертификат</button>
    Архив сертификатов:
    <br>
    {% for cert in certs %}
        <br>
        <a href="/certificates/{{ cert.id }}">Сертификат №{{ cert.serial }}</a>
        <br>
    {% endfor %}
    <script src="{% static 'js/common/index.js' %}"></script>
    <script src="{% static 'js/cert_center/get_current_cert.js' %}"></script>
</body>
</html>