{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/cert_center/choose_receiver.css' %}">
    <script src="{% static 'js/common/index.js' %}"></script>
    <script src="{% static 'js/cert_center/choose_receiver.js' %}"></script>
</head>
<body>
    <table class="tableFixHead">
        <tr>
            <td>Фотография</td>
            <td>Отдел, должность</td>
            <td>Фио</td>
            <td></td>
        </tr>
        {% for user in users %}
            <tr class="user_row">
                <td><img src="{{ MEDIA_URL }}{{ user.edcuser.photo }}" alt="Фото" class="small_img"></td>
                <td>{{ user.edcuser.department }}, {{ user.edcuser.position }}</td>
                <td>{{ user.last_name }} {{ user.first_name }} {{ user.edcuser.middle_name }}</td>
                <td><button onclick="choose_receiver({{ user.id }})">Выбрать</button></td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>