{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <button onclick="redirectToAgreement()">Скачать документ</button>
    </form>
    <script src="{% static 'js/common/index.js' %}"></script>
    <script src="{% static 'js/cert_center/sign_doc.js' %}"></script>
</body>
</html>