{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if form %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <br>
        <button>Загрузить закрытый ключ</button>
    </form>
    {% endif %}
    <script src="{% static 'js/common/index.js' %}"></script>
    <script src="{% static 'js/cert_center/sign_doc_agreement.js' %}"></script>
</body>
</html>