{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Отправка документа</h3>
<button onclick="sendDoc({{ doc_id }})">Отправить документ</button>
<script src="{% static 'js/common/index.js' %}"></script>
<script src="{% static 'js/cert_center/send_doc.js' %}"></script>
</body>
</html>