<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>Уведомление №{{ event.id }} {{ event.details.heading }}</p>
    <p>{{ event.details.text }}</p>
</body>
</html>