<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Здесь хранятся уведомления от УЦ о прекращении деятельности сертификата и его аннулировании, а также других новостных уведомлений от УЦ.</p>
{% for event in events %}
    <a {% if not event.details.seen %} style="background: #F2E1F2;" {% endif %} href="{{ event.id }}">Уведомление №{{ event.id }} {{ event.details.heading }}</a>
    <br>
    <br>
{% endfor %}
</body>
</html>