{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{% static 'js/common/index.js' %}"></script>
    <script src="{% static 'js/cert_center/check_sign.js' %}"></script>
</head>
<body>
    <button onclick="location.href='/certificates/'">Мои сертификаты</button>
    <button onclick="location.href='/documents/'">Мои документы</button>
    <button onclick="location.href='/events/'">Уведомления</button>
    <br>
    <br>
    <table border="solid 1px">
        <tr>
            <td>
                Документ
            </td>
            <td>
                Дата Получения
            </td>
            <td>
                Отправитель
            </td>
            <td>
                Проверить подлинность
            </td>
            <td>
                Сертификат
            </td>
        </tr>
        {% for doc in docs %}
            {% if doc.received_date %}
                <tr>
                    <td>
                        <a href="{{ MEDIA_URL }}{{ doc.path }}">{{ doc.original_name }}</a>
                    </td>
                    <td>
                        {{ doc.received_date }}
                    </td>
                    <td>
                        {{ doc.from_who }}
                    </td>
                    <td id="doc_check_{{ doc.id }}">
                        {% if doc.checked %}
                            Подлинность подтверждена
                        {% else %}
                            <button onclick="checkSign({{ doc.id }})">Проверить</button>
                        {% endif %}
                    </td>
                    <td>
                        <button onclick="location.href = '/certificates/{{ doc.certificate.id }}'">Посмотреть</button>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
</body>
</html>