{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{% static 'js/common/index.js' %}"></script>
    <script src="{% static 'js/cert_center/send_doc.js' %}"></script>
    <script src="{% static 'js/cert_center/sign_doc.js' %}"></script>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        {{ form }}
        {% csrf_token %}
        <button>Загрузить новый документ</button>
    </form>
    <table border="solid 1px">
        <tr>
            <td>
                Документ
            </td>
            <td>
                Дата загрузки
            </td>
            <td>
                Дата подписи
            </td>
            <td>
                Получатель
            </td>
            <td>
                Дата отправки
            </td>
        </tr>
        {% for doc in docs %}
            <tr>
                <td>
                    {{ doc.original_name }}
                </td>
                <td>
                    {{ doc.download_date.date }}
                </td>
                <td>
                    {% if doc.signature_date is not None %}
                    {{ doc.signature_date.date }}
                    {% else %}
                        <button onclick="redirectToSign({{ doc.id }})">Подписать</button>
                    {% endif %}
                </td>
                <td>
                    {% if doc.to_who is not None %}
                    {{ doc.to_who.last_name }} {{ doc.to_who.first_name }} {{ doc.to_who.edcuser.middle_name }}
                    {% else %}
                        <button onclick="redirectToChooseReceiver({{ doc.id }})">Выбрать</button>
                    {% endif %}
                </td>
                <td>
                    {% if doc.sent_date is not None %}
                    {{ doc.sent_date.date }}
                    {% else %}
                        <button onclick="redirectToSend({{ doc.id }})">Отправить</button>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>